*{
    color: black;
}
footer {
    color: black;
}
.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
}

footer ul li {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footercol {
    display: block;
    width: 25%;
    padding: 0 15px;
    justify-content: space-between;
}

.footer {
    z-index: 1;
    width: 100%;
}

.above_footer {
    color: black;
}

.footer_ad_left {
    width: 15%;
    height: 60px;
    float: left;
}

.footer-ad-right {
    width: 15%;
    height: 60px;
    float: right;
}

.row1 {
    width: 100%;
    border-bottom: 1px solid rgb(81,81,84);
    display: inline-flex;
}

.col1 {
    padding: 25px 20px;
    width: 30%;
}
.ul1{
    padding-left: 40px;
}
.ul1 li{
    padding-top: 10px;
}
.col2 {
    margin-left: -80px;
    font-size: 17px;
    width: 60%;
    display: inline-flex;
}
