.menu-haschild li:hover ul.Col1-1sub-menu {
    display: block;
}

.Col1-1sub-menu {
    position: absolute;
    margin-top: -15px;
    width: 200px;
    display: none;
    margin-left: 390px;
    background-color: white;
    z-index: 2;
}

    .Col1-1sub-menu li {
        padding: 10px 7px;
    }

        .Col1-1sub-menu li a {
            text-decoration: none;
        }

        .Col1-1sub-menu li:hover {
            border-bottom: 1px solid #d70018;
        }

.menu-haschild li:hover ul.Col1-2sub-menu {
    display: block;
}

.Col1-2sub-menu {
    position: absolute;
    margin-top: -15px;
    width: 200px;
    display: none;
    margin-left: 600px;
    background-color: white;
    z-index: 2;
}

    .Col1-2sub-menu li {
        padding: 10px 7px;
    }

        .Col1-2sub-menu li a {
            text-decoration: none;
        }

        .Col1-2sub-menu li:hover {
            border-bottom: 1px solid #d70018;
        }
.menu-haschild li:hover ul.Col2-1sub-menu {
    display: block;
}

.Col2-1sub-menu {
    position: absolute;
    margin-top: -45px;
    width: 200px;
    display: none;
    margin-left: 390px;
    background-color: white;
    z-index: 2;
}

    .Col2-1sub-menu li {
        padding: 10px 7px;
    }
        .Col2-1sub-menu li a {
            text-decoration: none;
        }

        .Col2-1sub-menu li:hover {
            border-bottom: 1px solid #d70018;
        }