body{
    margin: 0;
    padding: 0;
}
.adv_wrapper {
    display: flex;
    list-style: none;
    margin-left: 80px;
}
header {
    background-color: #e9efff;
    margin-top: -15px;
}
nav{
    margin-top: -20px;
}
.adv_wrapper1 {
    margin-top: 0px;
}
.adv_img_1{
    height: 40px;
    width: 400px;
}
.Big_menu {
    background-color: #d70018;
    color: white;
    width: 100%;
  
}
ul li{
    padding-left: 5px;
}
.nav_menu {
    list-style: none;
    display: flex;
    margin-left: 50px;
}
.search-container {
    display: flex;
    margin: 20px auto;
    max-width: 300px;
}

    
    .search-container input[type="text"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    
    .search-container button[type="submit"] {
        background-color: white;
        font-size: 20px;
        border: none;
        border-radius: 0 5px 5px 0;
        padding: 10px 15px;
        cursor: pointer;
    }

        
        .search-container button[type="submit"]:hover {
            background-color: dimgray;
        }
.menu_child  {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
    width: 80px;
}
.menu_child:hover {
    background-color: wheat;
    border-radius: 5px;
    width: 80px;
    height:40px;
}

.fa-search {
    font-size: 18px;
}
.menu_child{
    padding-top: 15px;
}


